#title {
    background-color: #ff4c68;
    padding: 3% 15%;
    height: fit-content;
    color: #fff;
}

body {
    font-family: "Montserrat";
}

h1 {
    font-family:"Montserrat";
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 900;/*Black*/
    padding-bottom: 50px;
}

h2{
    font-family: "Montserrat";
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: bold;  
}

.title-container{
    margin-top: 50px;
}

.title-col{
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

.titleImage {
    width: 250px;
    position:absolute;
    transform: rotate(25deg);
    right:20%;
    padding-top: 20px;
}

.button-download{
    margin-bottom:10px;
}

/*Navigation Bar */

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
}


/*Features*/
#features {
    padding: 7% 5%;
    position:relative;
    background-color: #fff;
}

.feature-box {
    text-align: center;
    padding: 4%;
}

h3 {
    font-family: "Montserrat";
    font-weight: 900;/*Black*/
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
    font-size: 1rem;
    line-height: 1.5;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/*Testimonial section*/

#testimonials {
    text-align: center;
    background-color:#ef8172;
    color: #fff;
}

.testimonial-image{
    width: 20%;
    border-radius: 100%;
    padding:5%;
}

#press{
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width:10%;
    margin:20px 20px 50px;
}

.carousel-item{
    padding:7% 15%;
}

/*Pricing section*/

#pricing{
    padding:5% 7%;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/*Media Query*/
@media (max-width:992px){

    #title {
        text-align: center;
    }

    .titleImage{
        position:static;
        transform: rotate(0deg);
    }

    .title-col{
        width: 85%;
    }
}

#cta{
    padding-top:5%;
    padding-bottom:5%;
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
}

#footer{
    text-align: center;
    margin-top:50px;
}

.cta_text{
    padding-bottom: 7%;
    font-size: 2.5rem;
}

.footericon{
    margin:10px 10px;
}

.cta_content{
    width:85%;
    margin:auto;
}