#title{
    background-color:firebrick ;
}

body{
    font-family: "Montserrat";
}

h1{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
}

#title {background-color:blue;padding:3% 15%;}
